{% extends "layout.html" %}

{% block title %}
  Movie and Show Search
{% endblock %}

{% block main %}
  <script>
    //var URL = "localhost"

    function loadinputs() {

      //functionality for sliders
      document.getElementById("popularity").oninput = function() {
      document.getElementById("popularityvalue").innerHTML = this.value;
      }

      document.getElementById("userscore").oninput = function() {
      document.getElementById("uservalue").innerHTML = this.value;
      }

      document.getElementById("length").oninput = function() {
      document.getElementById("lengthvalue").innerHTML = this.value;
      }

      document.getElementById("genreslider").oninput = function() {
      document.getElementById("genrevalue").innerHTML = this.value;
      }

      document.getElementById("preferredlength").oninput = function() {
      document.getElementById("plengthvalue").innerHTML = this.value;
      }

      document.getElementById("amountOfRecs").oninput = function() {
      document.getElementById("precsvalue").innerHTML = this.value;
      }
    }

    //   //functionality for movies checkmark
    //   document.getElementById("moviescheck").oninput = function() {
    //     if (this.checked) {
    //       document.getElementById("moviepreferences").style.display = "block"
    //       if (document.getElementById("tvcheck").checked) {
    //         document.getElementById("recommend").disabled = false
    //         document.getElementById("recommend").value = "Recommend Movies and Shows"
    //       }
    //       else {
    //         document.getElementById("recommend").disabled = false
    //         document.getElementById("recommend").value = "Recommend Movies"
    //       }
    //     }
    //     else {
    //       document.getElementById("moviepreferences").style.display = "none"
    //       if (document.getElementById("tvcheck").checked) {
    //         document.getElementById("recommend").disabled = false
    //         document.getElementById("recommend").value = "Recommend Shows"
    //       }
    //       else {
    //         document.getElementById("recommend").disabled = true
    //         document.getElementById("recommend").value = "Select a Category First"
    //       }
    //     }
    //   }
    //
    //   //functionality for tv shows checkmark
    //   document.getElementById("tvcheck").oninput = function() {
    //     if (this.checked) {
    //       document.getElementById("tvpreferences").style.display = "block"
    //       if (document.getElementById("moviescheck").checked) {
    //         document.getElementById("recommend").disabled = false
    //         document.getElementById("recommend").value = "Recommend Movies and Shows"
    //       }
    //       else {
    //         document.getElementById("recommend").disabled = false
    //         document.getElementById("recommend").value = "Recommend Shows"
    //       }
    //     }
    //     else {
    //       document.getElementById("tvpreferences").style.display = "none"
    //       if (document.getElementById("moviescheck").checked) {
    //         document.getElementById("recommend").disabled = false
    //         document.getElementById("recommend").value = "Recommend Movies"
    //       }
    //       else {
    //         document.getElementById("recommend").disabled = true
    //         document.getElementById("recommend").value = "Select a Category First"
    //       }
    //     }
    //   }
    // }

    //handle invalid year inputs
    //this was way too hard ew
    function yearupdate() {
      if (document.getElementById("minyear").value.length != 0 && document.getElementById("maxyear").value.length != 0) {
        var minyear = parseInt(document.getElementById("minyear").value, 10)
        var maxyear = parseInt(document.getElementById("maxyear").value, 10)
        if (isNaN(minyear) || isNaN(maxyear) || minyear < 0 || maxyear < 0 || minyear > maxyear) {
          document.getElementById("yearerror").innerHTML = "please enter valid years"
          document.getElementById("recommend").disabled = true
        }
        else {
          document.getElementById("yearerror").innerHTML = ""
          document.getElementById("recommend").disabled = false
        }
      }
      else {
        if (document.getElementById("minyear").value.length != 0) {
          var minyear = parseInt(document.getElementById("minyear").value, 10)
          if (isNaN(minyear) || minyear < 0) {
            document.getElementById("yearerror").innerHTML = "please enter a valid year"
            document.getElementById("recommend").disabled = true
          }
          else {
            document.getElementById("yearerror").innerHTML = ""
            document.getElementById("recommend").disabled = false
          }
        }
        else {
          if (document.getElementById("maxyear").value.length != 0) {
            var maxyear = parseInt(document.getElementById("maxyear").value, 10)
            if (isNaN(maxyear) || maxyear < 0) {
              document.getElementById("yearerror").innerHTML = "please enter a valid year"
              document.getElementById("recommend").disabled = true
            }
            else {
              document.getElementById("yearerror").innerHTML = ""
              document.getElementById("recommend").disabled = false
            }
          }
          else {
            document.getElementById("yearerror").innerHTML = ""
            document.getElementById("recommend").disabled = false
          }
        }
      }
    }

    function recommend() {
      //Dictionary of relevant values to export
      var info = {}

      info["uservalue"] = document.getElementById("userscore").value
      info["popularityvalue"] = document.getElementById("popularity").value
      info["lengthvalue"] = document.getElementById("length").value
      info["genrevalue"] = document.getElementById("genreslider").value
      info["preferredlength"] = document.getElementById("preferredlength").value

      //handle release years
      info["minyear"] = parseInt(document.getElementById("minyear").value, 10)
      info["maxyear"] = parseInt(document.getElementById("maxyear").value, 10)

      // handle ratings
      info["ratings"] = {}
      var ratings = document.querySelectorAll(".rating")
      for (var i = 0, n = ratings.length; i < n; i++) {
        info["ratings"][ratings[i].value] = ratings[i].checked
      }

      //handle genres
      info["genres"] = {}
      var genres = document.querySelectorAll(".genre")
      for (var i = 0, n = genres.length; i < n; i++) {
        info["genres"][genres[i].value] = genres[i].checked
      }

      info["recsvalue"] = document.getElementById("amountOfRecs").value

      // Get the database stuff
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/", true);
      xhr.responseType = 'text'
      xhr.setRequestHeader('Content-Type', 'application/json');

      xhr.onload = function () {
        if (xhr.readyState === xhr.DONE) {
          if (xhr.status === 200) {
            //what to do with the data once math/sql stuff is done in python
            //currently just sends a placeholder to the console so I can see if it's working
            console.log(xhr.response);
            console.log(xhr.responseText);
            }
          }
        };

      //send the values (currently only ratings for simplicity but can be lots of stuff)
      xhr.send(JSON.stringify(info))


      //xhr.send("ratings=" + JSON.stringify(selectedRatings))
      // xhr.send(JSON.stringify({
      //     ratings: selectedRatings
      // }));
    }

    document.addEventListener("DOMContentLoaded", loadinputs)

  </script>

  <div class="jumbotron" style="text-align:center">
    <h1>Welcome!</h1>
  </div>

  <!-- Preferences -->
  <div class="inputs">
    <h3>When searching for a movie, how much do you value the following things?</h3>
    <p>0 means you do not care at all and 10 means you care a lot<p>

    User Score <input type="range" min="0" max="10" value="0" class="slider" id="userscore"> <span id="uservalue">0</span>
    <p class="description" style="margin-top: -1.2em">Average score a movie receives from 0 to 100%</p>
    Current Popularity <input type="range" min="0" max="10" value="0" class="slider" id="popularity"> <span id="popularityvalue">0</span>
    <p class="description">How popular a movie is right now</p>
    Length <input type="range" min="0" max="10" value="0" class="slider" id="length"> <span id="lengthvalue">0</span>
    <p class="description">Runtime of a movie</p>
    Genre <input type="range" min="0" max="10" value="0" class="slider" id="genreslider"> <span id="genrevalue">0</span>
    <p class="description">How much you care about the genre(s) a movie fits into</p>

    <!-- <h3>What are you looking for?</h3> -->
      <!-- <label for="moviescheck"> Movies </label>
      <input type="checkbox" id="moviescheck" name="moviescheck" value="MoviesCheck">

      <label for="tvcheck"> TV Shows </label>
      <input type="checkbox" id="tvcheck" name="tvcheck" value="TVCheck"> -->


    <hr>
    <div id="moviepreferences">

      <h3>Other Preferences</h3>

      Preferred Length: <input type="range" min="0" max="240" value="120" class="slider" id="preferredlength"> <span id="plengthvalue">120</span> minutes
      <br>

      Release Year Window (optional):   min: <input id="minyear" onchange="yearupdate()"> max: <input id="maxyear" onchange="yearupdate()"> <span id="yearerror"></span>
      <br>

      MPAA Rating:

        <label for="g"> G </label>
        <input class="rating" type="checkbox" id="g" name="g" value="G">

        <label for="pg"> PG </label>
        <input class="rating" type="checkbox" id="pg" name="pg" value="PG">

        <label for="pg-13"> PG-13 </label>
        <input class="rating" type="checkbox" id="pg-13" name="pg-13" value="PG-13">

        <label for="r"> R</label>
        <input class="rating" type="checkbox" id="r" name="r" value="R">

        <h6>Genres:</h6>
        <p class="description" style="margin: -0.5em 0em 0.2em 0em">Choose at least one</p>

          <label for="action"> Action </label>
          <input class="genre" type="checkbox" id="action" name="action" value="Action">

          <label for="adventure"> Adventure </label>
          <input class="genre" type="checkbox" id="adventure" name="adventure" value="Adventure">

          <label for="animation"> Animation </label>
          <input class="genre" type="checkbox" id="animation" name="animation" value="Animation">

          <label for="comedy"> Comedy </label>
          <input class="genre" type="checkbox" id="comedy" name="comedy" value="Comedy">

          <label for="crime"> Crime </label>
          <input class="genre" type="checkbox" id="crime" name="crime" value="Crime">

          <label for="documentary"> Documentary </label>
          <input class="genre" type="checkbox" id="documentary" name="documentary" value="Documentary">

          <label for="drama"> Drama </label>
          <input class="genre" type="checkbox" id="drama" name="drama" value="Drama">

          <label for="family"> Family </label>
          <input class="genre" type="checkbox" id="family" name="family" value="Family">

          <label for="fantasy"> Fantasy </label>
          <input class="genre" type="checkbox" id="fantasy" name="fantasy" value="Fantasy">

          <label for="history"> History </label>
          <input class="genre" type="checkbox" id="history" name="history" value="History">

          <label for="horror"> Horror </label>
          <input class="genre" type="checkbox" id="horror" name="horror" value="Horror">

          <label for="music"> Music </label>
          <input class="genre" type="checkbox" id="music" name="music" value="Music">

          <label for="mystery"> Mystery </label>
          <input class="genre" type="checkbox" id="mystery" name="mystery" value="Mystery">

          <label for="romance"> Romance </label>
          <input class="genre" type="checkbox" id="romance" name="romance" value="Romance">

          <label for="scifi"> Science Fiction </label>
          <input class="genre" type="checkbox" id="scifi" name="scifi" value="Science Fiction">

          <label for="thriller"> Thriller </label>
          <input class="genre" type="checkbox" id="thriller" name="thriller" value="Thriller">

          <label for="war"> War </label>
          <input class="genre" type="checkbox" id="war" name="war" value="War">

          <label for="western"> Western </label>
          <input class="genre" type="checkbox" id="western" name="western" value="Western">
      </div>
    <br>

    <p style="font-weight: bold;">How many recommendations would you like?</p>
    <div style="margin-top: -0.5em">
      <input type="range" min="1" max="100" value="10" class="slider" id="amountOfRecs">
      <span id="precsvalue">10</span> recommendations
    </div>
    <br>

    <input id="recommend" type="button" value="Recommend Movies" onclick="recommend()">
    <br>
    <br>

  </div>

  <!-- Movie recommendations -->
  <div class="results" style="display: inline">
    <!-- table with recommendations -->
    <table>
      <tr>
        <th>Title</th>
        <th>Percent match</th>
      </tr>
      <tr>
        <td>The Lion, The Witch, and The Wardrobe</td>
        <td class="percentmatch">Test 2</td>
      </tr>
    </table>

  </div>

{% endblock %}
