{% extends "layout.html" %}

{% block title %}
  Movie and Show Search
{% endblock %}

{% block main %}
  <script>
    function loadinputs() {
      document.getElementById("criticscore").oninput = function() {
      document.getElementById("criticvalue").innerHTML = this.value;
      }

      document.getElementById("userscore").oninput = function() {
      document.getElementById("uservalue").innerHTML = this.value;
      }

      document.getElementById("length").oninput = function() {
      document.getElementById("lengthvalue").innerHTML = this.value;
      }

      document.getElementById("preferredlength").oninput = function() {
      document.getElementById("plengthvalue").innerHTML = this.value;
      }

      document.getElementById("moviescheck").oninput = function() {
        if (this.checked) {
          document.getElementById("moviepreferences").style.display = "block"
        }
        else {
          document.getElementById("moviepreferences").style.display = "none"
        }
      }

      document.getElementById("tvcheck").oninput = function() {
        if (this.checked) {
          document.getElementById("tvpreferences").style.display = "block"
        }
        else {
          document.getElementById("tvpreferences").style.display = "none"
        }
      }
    }

    document.addEventListener("DOMContentLoaded", loadinputs)
  </script>
  <div class="inputs">
    <h3>How much do you value the following things?</h3>
    <p>0 means you do not care at all and 10 means you care a lot<p>

    Critic Score <input type="range" min="0" max="10" value="0" class="slider" id="criticscore"> <span id="criticvalue">0</span>
    User Score <input type="range" min="0" max="10" value="0" class="slider" id="userscore"> <span id="uservalue">0</span>
    Length <input type="range" min="0" max="10" value="0" class="slider" id="length"> <span id="lengthvalue">0</span>

    <h3>What are you looking for?</h3>
      <label for="moviescheck"> Movies </label>
      <input type="checkbox" id="moviescheck" name="moviescheck" value="MoviesCheck">

      <label for="tvcheck"> TV Shows </label>
      <input type="checkbox" id="tvcheck" name="tvcheck" value="TVCheck">

    <div id="moviepreferences" style="display:none;">

      <h4>Movie Preferences</h4>

      Preferred Length <input type="range" min="0" max="240" value="120" class="slider" id="preferredlength"> <span id="plengthvalue">120</span> minutes
      <br>

      Rating:
        <label for="g"> G </label>
        <input type="checkbox" id="g" name="g" value="G">

        <label for="pg"> PG </label>
        <input type="checkbox" id="pg" name="pg" value="PG">

        <label for="pg-13"> PG-13 </label>
        <input type="checkbox" id="pg-13" name="pg-13" value="PG-13">

        <label for="g"> R</label>
        <input type="checkbox" id="r" name="r" value="R">
      </div>

    <div id="tvpreferences" style="display:none;">
      <h4>TV Show Preferences</h4>
    </div>

  </div>
{% endblock %}
